@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

body {
  background-image: url('/img/fondo.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
